<%- include("partials/header.ejs") %>

<div id="Blogger" class="container">

    <div class="my-3">
        <button type="button" onclick="createPost()" id="postBlog" class="btn btn-info">Add Post</button><button type="button" id="cancelPost" class="btn notVisible"><img src="./Images/delete.png" width="25px" alt="delete"></button>
    </div>

    <div id="createSection" class="my-3 notVisible">
        <form action="/createPost" method="post">
            <label for="createTitle" class="mx-3 mt-2 mb-0"><h2>Title:</h2></label><br>
            <input id="createTitle" class="mx-3 mb-1" name="title" type="text"><br>
            <label for="createArea" class="mx-3 mt-2 "><h2>Message:</h2></label><br>
            <textarea id="createArea" class="mx-3 mb-1" name="message" cols="50" rows="3"></textarea>
        </form>
    </div>

    <div id="myPosts">
        <% data.forEach((post)=>{ %> 
            <div id="postId<%= post.id %>">
                <h3><%= post.title %></h3>
                <p><%= post.message %></p>  
                <button class="btn p-1" id="postEdit<%= post.id %>" onclick="editPost('<%= post.id %>')"><img src="./Images/edit.png"  alt="edit"></button>
                <button class="btn p-1 notVisible" id="postSave<%= post.id %>" onclick="savePost('<%= post.id %>')"><img src="./Images/save.png"  alt="edit"></button>
                <button class="btn p-1" onclick="deletePost('<%= post.id %>')"><img src="./Images/delete.png"  alt="delete"></button>
                <form id="formId<%= post.id %>" action="/updatePost" method="post">
                    <input type="hidden" name="id" value="<%= post.id %>">
                    <input type="hidden" id="inputTitle<%= post.id %>" name="updateTitle" value="">
                    <input type="hidden" id="inputMessage<%= post.id %>" name="updateMessage" value="">
                </form>
                <form action="/deletePost" method="post">
                    <input type="hidden" name="delete" value="<%= post.id %>">
                </form>
            </div>    
        <% }); %> 
    </div>
    
</div>


<%- include("partials/footer.ejs") %>
